<%- include('../partials/header.ejs') %>

<!--<div class="test">
  <h5><%= formData %></h5>
  <div class="fifty">
</div> -->

<!-- IF hoursPrice != "0", render hours block -->
<!-- IF reminder, render HERINNERING block -->

 <div class="wrapper">
    <div class="upper section">
      <div class="logo">
        <img src="../rnbw.png" alt="">
        <p>Schildersbedrijf Piet van der Ploeg</p>
      </div>
      <div class="company_info">
        <div class="test">

          <ul class="ci_left">
            <li>Adres:</li>
          </ul>
          <ul class="ci_right">
            <li class="bold">Schildersbedrijf Piet van der Ploeg</li>
            <li>Kwartel 12</li>
            <li>9101 XM Dokkum</li>
          </ul>
          <ul class="ci_left">
            <li>KvK nr:</li>
            <li>BTW-id:</li>
          </ul>
          <ul class="ci_right">
            <li>64055388</li>
            <li>NL001542615B51</li>
          </ul>
          <ul class="ci_left">
            <li>Bank:</li>
          </ul>
          <ul class="ci_right">
            <li>ABN Amro NL68ABNA0580558789</li>
            <li>T.N.V. D. Jutte en/of P. van der Ploeg</li>
          </ul>
          <ul class="ci_left">
            <li>Tel:</li>
            <li>E-mail:</li>
          </ul>
          <ul class="ci_right">
            <li>+31 6 23 51 68 53</li>
            <li>pietvdploeg@hotmail.com</li>
          </ul>
        </div>

      </div>
      <div class="sender_info">
        <h2 class="header">
          <% if (reminder) { %>
            Herinnering
          <% } %>
        </h2>
        <ul class="sender_data">
          <li>J. Iedema</li>
          <li>Bevrijdingslaan 1C</li>
          <li>9102 DC Dokkum</li>
        </ul>
      </div>
      <div class="invoice_info">
        <h2 class="header">Factuur</h2>
        <ul class="invoice_labels">
          <li>Factuurdatum:</li>
          <li>Factuurnummer:</li>
          <li>Vervaldatum:</li>
        </ul>
        <ul class="invoice_data">
          <li>25-08-2020</li>
          <li>0000149</li>
          <li>02-09-2020</li>
        </ul>
      </div>
    </div>
    <div class="middle section">
      <div class="invoice_body">
        <div class="invoice_content">
          <div class="invoice_headers">
            <h4>Omschrijving</h4>
            <h4>Bedrag EUR</h4>
          </div>
          <div class="description pl-20 pb-30">
            <p>Verrichten van schilderwerkzaamheden aan woning Bedrijdingslaan 1C Dokkum.</p>
          </div>
          <div class="hours pl-20 pb-30">
            <h4>Aantal uren</h4>
            <div class="pricing_row">
              <div class="pricing_row_item">
                <p>71¾ x €32,50 p.u.</p>
              </div>
              <div class="pricing_row_euro">
                <p>€</p>
              </div>
              <div class="pricing_row_price">
                <p>2315,63</p>
              </div>
            </div>
          </div>
          <div class="materials pl-20 pb-30">
            <h4>Materialen</h4>
            <ul>
              <li class="pricing_row">
                <div class="pricing_row_item">
                  <p>3L Wijzonol Dekkend halfglans 9001</p>
                </div>
                <div class="pricing_row_euro">
                  <p>€</p>
                </div>
                <div class="pricing_row_price">
                  <p>148,86</p>
                </div>
              </li>
              <li class="pricing_row">
                <div class="pricing_row_item">
                  <p>3L Wijzonol Dekkend halfglans 9001</p>
                </div>
                <div class="pricing_row_euro">
                  <p>€</p>
                </div>
                <div class="pricing_row_price">
                  <p>148,86</p>
                </div>
              </li>
              <li class="pricing_row">
                <div class="pricing_row_item">
                  <p>3L Wijzonol Dekkend halfglans 9001</p>
                </div>
                <div class="pricing_row_euro">
                  <p>€</p>
                </div>
                <div class="pricing_row_price">
                  <p>148,86</p>
                </div>
              </li>
              <li class="pricing_row">
                <div class="pricing_row_item">
                  <p>3L Wijzonol Dekkend halfglans 9001</p>
                </div>
                <div class="pricing_row_euro">
                  <p>€</p>
                </div>
                <div class="pricing_row_price">
                  <p>148,86</p>
                </div>
              </li>
              <li class="pricing_row">
                <div class="pricing_row_item">
                  <p>3L Wijzonol Dekkend halfglans 9001</p>
                </div>
                <div class="pricing_row_euro">
                  <p>€</p>
                </div>
                <div class="pricing_row_price">
                  <p>148,86</p>
                </div>
              </li>
              <li class="pricing_row">
                <div class="pricing_row_item">
                  <p>3L Wijzonol Dekkend halfglans 9001</p>
                </div>
                <div class="pricing_row_euro">
                  <p>€</p>
                </div>
                <div class="pricing_row_price">
                  <p>148,86</p>
                </div>
              </li>
              <li class="pricing_row">
                <div class="pricing_row_item">
                  <p>3L Wijzonol Dekkend halfglans 9001</p>
                </div>
                <div class="pricing_row_euro">
                  <p>€</p>
                </div>
                <div class="pricing_row_price">
                  <p>148,86</p>
                </div>
              </li>
              <li class="pricing_row">
                <div class="pricing_row_item">
                  <p>3L Wijzonol Dekkend halfglans 9001</p>
                </div>
                <div class="pricing_row_euro">
                  <p>€</p>
                </div>
                <div class="pricing_row_price">
                  <p>148,86</p>
                </div>
              </li>
              <li class="pricing_row">
                <div class="pricing_row_item">
                  <p>3L Wijzonol Dekkend halfglans 9001</p>
                </div>
                <div class="pricing_row_euro">
                  <p>€</p>
                </div>
                <div class="pricing_row_price">
                  <p>148,86</p>
                </div>
              </li>
              <li class="pricing_row">
                <div class="pricing_row_item">
                  <p>3L Wijzonol Dekkend halfglans 9001</p>
                </div>
                <div class="pricing_row_euro">
                  <p>€</p>
                </div>
                <div class="pricing_row_price">
                  <p>148,86</p>
                </div>
              </li>
              <li class="pricing_row">
                <div class="pricing_row_item">
                  <p>3L Wijzonol Dekkend halfglans 9001</p>
                </div>
                <div class="pricing_row_euro">
                  <p>€</p>
                </div>
                <div class="pricing_row_price">
                  <p>148,86</p>
                </div>
              </li>
              <li class="pricing_row">
                <div class="pricing_row_item">
                  <p>3L Wijzonol Dekkend halfglans 9001</p>
                </div>
                <div class="pricing_row_euro">
                  <p>€</p>
                </div>
                <div class="pricing_row_price">
                  <p>148,86</p>
                </div>
              </li>
              <li class="pricing_row">
                <div class="pricing_row_item">
                  <p>3L Wijzonol Dekkend halfglans 9001</p>
                </div>
                <div class="pricing_row_euro">
                  <p>€</p>
                </div>
                <div class="pricing_row_price">
                  <p>148,86</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="invoice_price">
          <div class="invoice_price_wrapper">
            <div class="invoice_price_sub">
              <div class="subtotal">
                <p>Subtotaal</p>
                <p>:</p>
                <p class="align-center">EUR</p>
                <p class="align-end">2626,40</p>
              </div>
              <div class="vat">
                <p>BTW 9%</p>
                <p>:</p>
                <p class="align-center">EUR</p>
                <p class="align-end">236,38</p>
              </div>
            </div>
            <div class="invoice_price_total">
              <div class="total">
                <p>Totaal te voldoen</p>
                <p>:</p>
                <p class="align-center">EUR</p>
                <p class="align-end">2862,78</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lower section">
      <div class="displays">
        <div class="display">
          <h5>ABN Amro Rekening</h5>
          <p>NL68ABNA0580558789</p>
        </div>
        <div class="display">
          <h5>Factuurnummer</h5>
          <p>0000149</p>
        </div>
        <div class="display">
          <h5>Factuurbedrag in EUR</h5>
          <p>2862,78</p>
        </div>
      </div>
      <div class="payment_message">
        <p>Wij verzoeken u vriendelijk het verschuldigde bedrag binnen 8 dagen over te maken.</p>
      </div>
    </div>
  </div>

<%- include('../partials/footer.ejs') %>