<%- include('../partials/header.ejs') %>

<!--<div class="test">
  <h5><%= test %></h5>
  <div class="fifty">
</div> -->

 <div class="wrapper">
    <div class="upper section">
      <div class="logo">
        <img src="./rnbw.png" alt="">
        <p>Schildersbedrijf Piet van der Ploeg</p>
      </div>
      <div class="company_info">
        <div class="test">

          <ul class="ci_left">
            <li>Adres:</li>
          </ul>
          <ul class="ci_right">
            <li class="bold">Schildersbedrijf Piet van der Ploeg</li>
            <li>Kwartel 12</li>
            <li>9101 XM Dokkum</li>
          </ul>
          <ul class="ci_left">
            <li>KvK nr:</li>
            <li>BTW-id:</li>
          </ul>
          <ul class="ci_right">
            <li>64055388</li>
            <li>NL001542615B51</li>
          </ul>
          <ul class="ci_left">
            <li>Bank:</li>
          </ul>
          <ul class="ci_right">
            <li>ABN Amro NL68ABNA0580558789</li>
            <li>T.N.V. D. Jutte en/of P. van der Ploeg</li>
          </ul>
          <ul class="ci_left">
            <li>Tel:</li>
            <li>E-mail:</li>
          </ul>
          <ul class="ci_right">
            <li>+31 6 23 51 68 53</li>
            <li>pietvdploeg@hotmail.com</li>
          </ul>
        </div>

      </div>
      <div class="sender_info">
        <h2 class="header">Herinnering</h2>
        <ul class="sender_data">
          <li>J. Iedema</li>
          <li>Bevrijdingslaan 1C</li>
          <li>9102 DC Dokkum</li>
        </ul>
      </div>
      <div class="invoice_info">
        <h2 class="header">Factuur</h2>
        <ul class="invoice_labels">
          <li>Factuurdatum:</li>
          <li>Factuurnummer:</li>
          <li>Vervaldatum:</li>
        </ul>
        <ul class="invoice_data">
          <li>25-08-2020</li>
          <li>0000149</li>
          <li>02-09-2020</li>
        </ul>
      </div>
    </div>
    <div class="middle section">
      <div class="invoice_body">BODY</div>
    </div>
    <div class="lower section">
      <div class="displays">DISPLAYS</div>
      <div class="payment_message">MESSAGE</div>
    </div>
  </div>

<%- include('../partials/footer.ejs') %>