<%- include('../partials/header.ejs') %>

<h1>NEW</h1>

<form action="/invoice" method="POST">
  <input type="number" name="invoice_number" placeholder="Factuurnummer">

  <input type="text" name="name" placeholder="naam">
  <input type="text" name="address" placeholder="adres">
  <input type="text" name="postal" placeholder="postcode">

  <input type="date" name="date">
  <input type="date" name="enddate">

  <input type="text" name="description" placeholder="omschrijving">

  <input class="disable_for_static" type="text" name="hours" placeholder="uren">
  <input class="disable_for_static" type="text" name="hourly" placeholder="per uur">

  <ul class="materials">
    <li>
      <input class="material disable_for_static" type="text" name="materials[name]" placeholder="materiaal">
      <input class="price disable_for_static" type="text" name="materials[price]" placeholder="prijs">
      <button class="removeMaterial disable_for_static">-</button>
    </li>
    <li> <!-- sending along empty hidden li to force materials.name and materials.price to be an array even with only 1 material -->
      <input class="material disable_for_static" type="hidden" name="materials[name]" value="">
      <input class="price disable_for_static" type="hidden" name="materials[price]" value="">
      <button class="removeMaterial disable_for_static">-</button>
    </li>
  </ul>
  <button id="addMaterial" class="disable_for_static">+</button>

  <select name="vat">
    <option value="null">BTW %</option>
    <option value="9">9%</option>
    <option value="21">21%</option>
  </select>

  <input id="staticPriceCb" type="checkbox" value="true">
  <input id="staticPrice" type="text" name="staticPriceSubtotal" disabled>

  <input type="submit" value="Maak">
</form>

<%- include('../partials/footer.ejs') %>