<%- include('../partials/header.ejs') %>

<form action="/form/1" method="POST">
  <input type="number" name="invoice_number" placeholder="Factuurnummer">
  <input type="submit" value="Volgende">
</form>

<%- include('../partials/footer.ejs') %>