<%- include('../partials/header.ejs') %>

<input class="data" type="number" name="invoice_number" placeholder="Factuurnummer">
<a href="http://localhost:3000/form/2">Volgende</a>

<%- include('../partials/footer.ejs') %>