<%- include('../partials/header.ejs') %>

<form action="/form/2" method="POST">
  <input type="text" name="name" placeholder="naam">
  <input type="text" name="address" placeholder="adres">
  <input type="text" name="postal" placeholder="postcode">
  <input type="submit" value="Volgende">
</form>

<%- include('../partials/footer.ejs') %>