<%- include('../partials/header.ejs') %>

<input class="data" type="text" name="name" placeholder="naam">
<input class="data" type="text" name="address" placeholder="adres">
<input class="data" type="text" name="postal" placeholder="postcode">
<a href="http://localhost:3000/form/3">Volgende</a>

<%- include('../partials/footer.ejs') %>