<%- include('../partials/header.ejs') %>

<form action="/form/3" method="POST">
  <input type="date" name="date">
  <input type="date" name="enddate">
  <input type="submit" value="Volgende">
</form>


<%- include('../partials/footer.ejs') %>