<%- include('../partials/header.ejs') %>

<input class="data" type="date" name="date">
<input class="data" type="date" name="enddate">
<a href="http://localhost:3000/form/4">Volgende</a>

<%- include('../partials/footer.ejs') %>