<%- include('../partials/header.ejs') %>

<input class="data" type="text" name="description" placeholder="omschrijving">
<a href="http://localhost:3000/form/5">Volgende</a>

<%- include('../partials/footer.ejs') %>