<%- include('../partials/header.ejs') %>

<form action="/form/4" method="POST">
  <input type="text" name="description" placeholder="omschrijving">
  <input type="submit" value="Volgende">
</form>

<%- include('../partials/footer.ejs') %>