<%- include('../partials/header.ejs') %>

<input class="data" type="number" name="hours" placeholder="uren">
<input class="data" type="number" name="hourly" placeholder="per uur">
<a href="http://localhost:3000/form/6">Volgende</a>

<%- include('../partials/footer.ejs') %>