<%- include('../partials/header.ejs') %>

<form action="/form/5" method="POST">
  <input type="text" name="hours" placeholder="uren">
  <input type="text" name="hourly" placeholder="per uur">
  <input type="submit" value="Volgende">
</form>

<%- include('../partials/footer.ejs') %>