<%- include('../partials/header.ejs') %>

<ul class="materials">
  <li>
    <input class="material" type="text" placeholder="materiaal">
    <input class="price" type="number" placeholder="prijs">
  </li>
  <li>
    <input class="material" type="text" placeholder="materiaal">
    <input class="price" type="number" placeholder="prijs">
  </li>
</ul>
<a href="http://localhost:3000/form/7">Volgende</a>

<%- include('../partials/footer.ejs') %>