<%- include('../partials/header.ejs') %>


<form action="/form/6" method="POST">
  <ul class="materials">
    <li>
      <input class="material" type="text" name="materials[][name]" placeholder="materiaal">
      <input class="price" type="text" name="materials[][price]" placeholder="prijs">
    </li>
    <li>
      <input class="material" type="text" name="materials[][name]" placeholder="materiaal">
      <input class="price" type="text" name="materials[][price]" placeholder="prijs">
    </li>
  </ul>
  <input type="submit" value="Volgende">
</form>

<%- include('../partials/footer.ejs') %>