<%- include('../partials/header.ejs') %>

<form action="/form" method="post">
  <input type="text" name="test" value="">
  <input type="submit" value="submit">
</form>

<%- include('../partials/footer.ejs') %>